  
  /* ESTILOS CSS -- MEDIA QUERIES */
  @media only screen and (max-width: 1324px){}
  @media only screen and (max-width: 1324px){
    .img{
        height: 35rem;
    }

    #titulo-nav{
        text-align: center !important;
    }
    .header{
        justify-content: center;
    }
    .header p{
        font-size: 100%;
        text-align: justify;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .contenido-G {
        padding-top: 5rem;
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
    .cards {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: center;
    }

    .card {
        padding-right: 2rem !important;
        padding-left: 2rem !important;

    }
    .card img{
        width: 30px !important ;
    } 
    .cards {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: center;
    }
    .cards2 {
        padding-top: .5rem !important;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: center;
    }
    .Alineacion{
        width: auto !important;
        padding: 0px;
        padding-top: 3rem;
        
    } 
    .desarollo{

        flex-direction: column;
        align-items: center;
    
    }
    .desarollo img{
        height:  18rem;
     
    }
}
/* //////////////////////////////////////////////////////////////////////////////77 */

@media only screen and (max-width: 690px){
    .img{
        height: 35rem;
    }
  
    #titulo-nav{
        text-align: center !important;
    }
    #Subtitulo-nav{
        font-size: 15px;
        text-align: justify;
     }
    .header{
        justify-content: center;
    }
    .header p{
        font-size: 100%;
        text-align: justify;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .contenido-G {
        padding-top: 5rem;
        padding-right: 0%;
        padding-left: 0%;
    }
    .card{
        width: 3rem !important;
        display: flex;
        align-items: center;
     }
    .cards {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: center;
    }
    .mb-3 {
        width: 100% !important;
    }
    .card img{
        width: 60px !important ;
    }
    .Alineacion{
        width: auto !important;
        padding: 0px;
        padding-top: 3rem;
        
    } 
    #Texto{
        font-size: 15px;
        text-align: justify;
        /* width: 20rem !important; */
    }
    .desarollo{

        flex-direction: column;
        align-items: center;
    
    }
    .desarollo img{
        height:  10rem;
     
    }
}
